<form [formGroup]="editRecipeForm">
  <h1 mat-dialog-title>Edit recipe</h1>
  <mat-dialog-content class="mat-typography">
      <mat-form-field class="full-width">        
        <mat-label>Recipe name</mat-label>
        <input matInput formControlName="name" required [(ngModel)]="data.name">    
      </mat-form-field>
    
      <mat-form-field class="full-width">        
        <mat-label>Item auc cost</mat-label>
        <input matInput type="number" formControlName="cost" required [(ngModel)]="data.cost">
      </mat-form-field>
      
      <!-- <div formArrayName = "ingredients" *ngFor="let x of addNewRecipeForm.get('ingredients').controls; let i = index;"> -->
        <div formArrayName = "ingredients" *ngFor="let x of editRecipeForm.get('ingredients').controls; let i = index;">
          <div [formGroupName]="i">
            <mat-form-field>
              <mat-label>Ingredianse</mat-label>
              <input 
                matInput 
                formControlName="name" 
                required
                [(ngModel)]="data.ingredients[i].name"
                [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        
            <mat-form-field>
              <mat-label>Count</mat-label>    
              <input 
                [(ngModel)]="data.ingredients[i].count" 
                matInput 
                type="number"  
                min="1" 
                formControlName="count" 
                required>
            </mat-form-field>
    
            <button mat-icon-button (click)="addNewIngr()">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button (click)="removeIngr(i)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
      </div>

  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="editRecipe()">Update</button> 
  </div>
</form> 