<img mat-card-image [src]="photoUrl | async">
<div>
    <p class='title'>&emsp;Hi! I'm Stas. I like the game, orderliness, and anything in touch with information technology.
            And I can't imagine the world without smiles. =) </p>
    <p>&emsp;I'm providing a quality of IT products, and I'm working as a test automation engineer in one of the outsourcing companies in Kyiv, Ukraine.
        If you are developing any web site or application I will control that all requirements are done and the quality of your product is on the highest level.
        Also, I will work on making a testing process much faster than it can be done manually!
    </p>            
    <p>&emsp;I have a lot of hobbies. Traveling, gym, football, basketball, computer games, self-growing, music and many other, depends on time and my thinks =).
        In any case, I am open to discovering something new! I hope to see you in my contacts in any of the social media resources!
    </p>
    <p>&emsp;Here are some helpful links, if you want to have more information about me:
    </p>
</div>
      