<mat-toolbar color="primary">
    <a mat-button routerLink=""><span>WoW Alchemist Calculator2</span></a>
    <span class="header-spacer"></span>

    <a mat-button routerLink="/contacts">Contacts</a>
    <!-- <button mat-stroked-button [matMenuTriggerFor]="cvMenu">
        <mat-icon aria-hidden="false">cloud_download</mat-icon>
        <span class="mat-h1"> cv</span>
    </button> -->
    <!-- <mat-menu #cvMenu="matMenu">
        <button mat-menu-item (click)="downloadCvPdf()">.pdf</button>
        <button mat-menu-item (click)="downloadCvDocx()">.docx</button>
    </mat-menu>     -->
 </mat-toolbar>