<form class="form" [formGroup]="registerForm">
    <mat-label class="title">Registration</mat-label> 
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="f.email.errors?.pattern">Email must be a valid email address</mat-error>
        <mat-error *ngIf="f.email.errors?.alreadyRegistered">This email address is already registered</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]='hide'>
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="f.password.errors?.required">Password is required</mat-error>
        <mat-error *ngIf="f.password.errors?.minlength">Password must be at least 8 characters</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]='hide'>
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="f.confirmPassword.errors?.required">Confirm password is required</mat-error>
        <mat-error *ngIf="f.confirmPassword.errors?.mustMatch">Paswords must match</mat-error>
    </mat-form-field>
    <div class="form-footer">        
        <div>Already a member? <a class="login-link" routerLink="/signin">Log In</a></div>
        <button mat-raised-button (click)="signUp()">SignUp</button>
    </div>
    <p class="external-services grey">Or sign up with</p>
    <div class="external-services">
        <mat-icon (click)="auth.googleSignIn()" svgIcon="google"></mat-icon>
    </div>
</form> 